<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Title</title>
</head>
<body style="font-size: 30px">
{% extends "machinelearning/base.html" %}
{% block content %}
<div align="right">your ip {{ip}}</div>
    <div align="center">i love xiong</div>
    <a href="/uppic/">添加图片</a>
    <div align="center"><img src="static/doudou1.jpg"></div>
    <div align="center"><img src="static/doudou2.jpg"></div>
    <div align="center"><img src="static/kaijie1.jpg"></div>
    <div align="center"><img src="static/kaijie2.jpg"></div>
<div align="center"><img src="static/kaijie3.jpg"></div>
<div align="center"><img src="static/kaijie4.jpg"></div>
{% for url in pic %}
        <div align="center"><img src="static/pic/{{ url }}"></div>
    {% endfor %}
{% endblock %}

</body>
</html>